<div class="first">
  <h2>{{ why }}</h2>
</div>
<div id="destination">
  <h1>destinations</h1>
  <div id="card-holder" class="row">
      <div class="col-4 card" style="width: 18rem">
        <img src="{{ arrayUrl[0] }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ arrayDestinations[0] }}</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <div class="card col-lg-4" style="width: 18rem">
      <img src="{{ arrayUrl[1] }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ arrayDestinations[1] }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-lg-4" style="width: 18rem">
      <img src="{{ arrayDestinations[2] }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ arrayDestinations[2] }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-lg-4" style="width: 18rem">
      <img src="{{ arrayDestinations[2] }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ arrayDestinations[2] }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-lg-4" style="width: 18rem">
      <img src="{{ arrayDestinations[2] }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ arrayDestinations[2] }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-lg-4" style="width: 18rem">
      <img src="{{ arrayDestinations[2] }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ arrayDestinations[2] }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

